@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}



/* VARIABLES  */
:root {
    --main-color: #4fa34f;
    --big-font: 32px;
    --small-font: 20px;
}

section {
    padding: 20px 10px;
}

h2 {
    font-size: var(--big-font);
    text-align: center;
    padding-bottom: 35px;
}