@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

:root {
  --main-color: #38aa38;
  --bgc: rgb(241, 241, 241);
  --big-font: 32px;
  --small-font: 20px;
}

section {
  padding: 40px 10px;
  margin: 10px 0;
  width: 100%;
}

h1 {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: var(--big-font);
  text-align: center;
  padding-bottom: 20px;
  max-width: 1000px;
  margin-bottom: 20px;
  position: relative;
  border-bottom: 2px solid var(--main-color);
}

p {
  max-width: 800px;
  line-height: 2em;
}