.header {
  margin-top: 60px;
  height: calc(100vh - 60px);
  background-image: url('./header2.jpg');
  background-size: cover;
  position: relative;
}

.background {
  display: grid;
  place-items: center;
}

.welcome_text {
  font-size: 26px;
  color: white;
  position: absolute;
  left: 5%;
  top: 41%;
  line-height: 3rem;

}

.part_one {
  font-size: 33px;
}

.part_two {
  font-weight: bold;
  font-size: 52px;
}