.image_wrapper {
    width: 100%;
    position: relative;
}

.map_Link {
    display: block;
    position: relative;
    width: 200px;
    padding: 20px 0;
    margin: 20px auto 10px auto;
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 20px;
    text-align: center;
    transition: 0.2s linear;
}

.map_Link::after {
    content: "";
    position: absolute;
    width: 95%;
    height: 90%;
    /* background-color: red; */
    left: 50%;
    top: 50%;
    border-radius: 20px;
    border: 2px solid white;
    transform: translate(-50%, -50%);

}

.map_Link:hover {
    background-color: white;
    color: var(--main-color);
}

.map_Link:hover::after {
    border: 2px solid var(--main-color);
}

@media screen and (min-width: 768px) {

    .map_Link {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translatey(-50%);
    }

    .map_Link:hover {
        background-color: transparent;

    }
}