/* SECTION */

.section {
    position: relative;
    font-size: var(--big-font);
    background-color: white;


}

.overlay {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.services_list {
    font-size: var(--small-font);
    margin: 20px 50px;
    width: 300px;
    line-height: 2em;
}

.list_wrapper {
    margin-bottom: 35px;
    width: 350px;
}

.title {
    width: 100%;
    display: block;
    color: var(--main-color);
}