/* SECTION */

.section {
    position: relative;
    font-size: var(--big-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.overlay {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.services_list {
    font-size: var(--small-font);
    margin: 20px 50px;
    width: 300px;
    line-height: 2em;
}

.list_wrapper {
    margin: 0 15px 35px 15px;
    width: 350px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.75);
}