.section {
    color: white;
    background-color: var(--main-color);
}

.wrapper {
    padding: 20px 10px;
    font-size: var(--big-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.description {
    font-size: var(--small-font);
    margin-top: 20px;
    text-align: center;
}