.section {
    background-color: white;
    color: var(--main-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    width: 270px;
}

.icon_title {
    padding: 10px 0;
    font-size: 28px;
    text-align: center;
}

.icon_hours {
    text-align: center;
    line-height: 23px;
}