.section {
    padding-top: 60px;
    /* min-height: 100vh; */
}

.title {
    color: var(--main-color);
    margin-top: 30px;
    position: relative;
}

title::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 3px;
    left: 50%;
    bottom: 32%;
    transform: translateX(-50%);
    background-color: var(--main-color);
}