.header {
    height: calc(100vh - 60px);
    /* margin-top: 60px; */
    background: url(../images/header2.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.background {
    display: grid;
    place-items: center;

}

.welcome {
    font-size: 26px;
    color: white;
    position: absolute;
    left: 5%;
    top: 41%;
    line-height: 3rem;
}

.part_one {
    /* font-weight: bold; */
    font-size: 33px;
}

.part_two {
    font-weight: bold;
    font-size: 52px;
}

/* SECTION */

.section {
    padding: 20px 10px;
    color: white;
    font-size: 32px;
    background-color: var(--main-color);
}

.title {
    text-align: center;
    padding-bottom: 35px;
}

.services_list {
    font-size: 20px;
    position: relative;
    padding-left: 50px;

}

.list_wrapper {
    padding-bottom: 35px;
}